:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: #fefaf1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-left: 1rem;
}

.toolbar {
  border-bottom: black solid 0.25rem;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.toolbar-title {
  font-weight: 1000;
  margin: 0;
}
.new-task-button {
  color: white;
  font-weight: bold;
  font-size: medium;
  background-color: #000000;
  border-radius: 10px;
  border: black solid 0.1rem;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 5px 5px white;
}
.new-task-button:hover {
  color: #000000;
  background-color: white;
  cursor: pointer;
  box-shadow: 5px 5px black;
}


.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal {
  background-color: #fefaf1;
  padding: 20px;
  width: 35%;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 5px black;
}
.modal-close-button {
  color: black;
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background: none;
  font-size: 2rem;
  cursor: pointer;
}
.modal-title {
  justify-self: center;
}
.modal-submit-button {
  margin-top: 1.5rem;
  color: white;
  font-weight: bold;
  font-size: small;
  background-color: #000000;
  border-radius: 10px;
  border: black solid 0.1rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 5px 5px white;
}
.modal-submit-button:hover {
  color: #000000;
  background-color: white;
  cursor: pointer;
  box-shadow: 5px 5px black;
}
.modal input, textarea, select {
  margin-top: 0.8rem;
  width: 99%;
}


.task-card {
  background-color: white;
  border: black solid 0.1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  border-radius: 10px;
  position: relative;
}
.tc-todo .task-card {
  box-shadow: 5px 5px #ed9dbe;
}
.tc-doing .task-card {
  box-shadow: 5px 5px #9dbded;
}
.tc-done .task-card {
  box-shadow: 5px 5px #b4ed9d;
}
.task-card-title {
  margin-left: 20px;
  margin-right: 20px;
}
.task-card-desc {
  font-weight: 400;
  margin-left: 20px;
  margin-right: 20px;
}
.task-card-date {
  margin-left: 20px;
  margin-right: 20px;
}
.task-card-date-overdue {
  color: rgb(206, 28, 28);
}

.task-options-container {
  position: relative;
  float: right;
  margin: 0.5rem 1rem 0 0;
}
.task-options-button {
  float: right;
  background: none;
  border: none;
  margin-right: 1rem;
  margin-top: 0.5rem;
  font-weight: 800;
}
.task-options-button:hover {
  cursor: pointer;
}
.options-modal {
  position: absolute;
  background-color: #fefaf1;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px black;
  z-index: 9999;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
}
.options-modal-right-column {
  position: absolute;
  background-color: #fefaf1;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px black;
  z-index: 9999;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  right: 0;
}
.options-modal form {
  display: flex;
  flex-direction: column;
}
.options-button {
  background-color: #fefaf1;
  border: none;
  font-weight: 700;
  text-align: left;
  padding: 5px;
}
.options-button:hover {
  cursor: pointer;
  background-color: #f0e6d2; /* subtle hover */
}
.options-close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}


.task-column {
  float: left;
  margin: 0;
  width: 33%;
}
.task-column-title {
  font-size: large;
}
.task-column-title-ToDo {
  color: #ed9dbe;
}
.task-column-title-Doing {
  color: #9dbded;
}
.task-column-title-Done {
  color: #b4ed9d;
}


.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fefaf1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.bouncing-balls {
  width: 400px;
  height: 200px;
}
.red-ball {
  fill: #ed9dbe;;
}
.blue-ball {
  fill: #9dbded;
}
.green-ball {
  fill: #b4ed9d;
}